body{
    background-color: #332d42;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center
}
span{
    color: wheat;
    font-size: 12px;
    font-family: sans-serif;
    padding-top: 10px;
    width: 100%;
    display: block;
}
span a{
    color: #f07860;
    text-decoration: none;
}

.creditos{
    width: 100%;
}